@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&family=Gochi+Hand&family=Sniglet&display=swap');

.App {
  text-align: center;
}

body{
  font-family: 'Nunito', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navBar{
  background-color: #F2335C;
  color: white;
  display: flex;
  flex-direction: row;
}

.why-care-wrapper{
  border-style: solid;
  border-radius: 10px;
  position: absolute;
  right: 10px;
  padding: 10px;
  transition: ease-in-out .5s;
  -webkit-animation: ease-in-out .5s;
}
.why-care-wrapper:hover{
  filter: invert();
  transform: scale(1.1);
  transition: ease-in-out .5s;
  -webkit-animation: ease-in-out .5s;
  justify-content: center;
}

.navBar-logo-wrapper {
  margin: 2vh 1vw;
}

.logo {
  display: flex;
  flex-direction: row;
  font-size: 5vh;
}

.why-should-i-care{
  display: flex;
  flex-direction: row;
  font-size: 2.8vh;

}

.street-logo {
  font-family: 'Gochi Hand', serif;
  font-weight: 100;
}

.cred-logo {
  font-family: 'Sniglet', sans-serif;
  font-weight: 900;
}

navBar-why-wrapper {
  position: absolute;

}

.why-should-i-care {
}

.pages{
  float: right;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.secondRow{
  width: 66.6%!important;
  margin-left: auto;
  margin-right: auto;
}

.overviewTagLine {
  width: 38%;
  margin-left: auto;
  margin-right: auto;
}

.results{
  width: fit-content;
}

.scoreResults{
  font-size: 3em;
}

.emojiResults{
  margin-left: auto;
  margin-right: auto;
  font-size: 4em;
  margin-top: auto;
  margin-bottom: auto;
}

.card{
  background-color: #fff;
  width: fit-content;
  margin-right: 10px;
  margin-left: 10px;
  width: inherit;
  border-radius: 10px;
  border-width: 1px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
  color: #4a4a4a;
  display: block;
  padding: 0rem;
}


.hovercard{
  transition: 0.5s ease;
}

.hovercard:hover {
  transform: scale(1.04);
}

.emoji{
  margin-left: auto;
  margin-right: auto;
  font-size: 5em;
  margin-top: auto;
  margin-bottom: auto;
}

.cardElements{
  display: flex;
}

.cardRow {
  width: 100%;
  display: flex;
  margin-top: 1em;
}

.category{
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
  margin-top: auto;
  margin-bottom: auto;
}


.modalText {
  border-color: transparent;
  position: fixed;
  width: 60%;
  margin-left: 20%;
  top: 20%;
  margin-right: 20%;
  background-color: white;
  border-radius: 10px;
  outline: none;
}

.paymentHistory {
  height: 175px;;
  right: 30px;
  top: 30px;
  position: absolute;
  float:right;
}

#simple-modal-title {
margin-left: 20px;
}

#simple-modal-description {
  margin-left: 30px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
